<link rel="stylesheet" type="text/css" href="index.css">
<h1 id="checking-our-answers">Checking our answers</h1>
<p>In the aim of checking the answers produced by our projects, here is how we can compare our returned values</p>
<h2 id="get-the-sample-file">Get the sample file</h2>
<p>There are three files hosted, <code>cmdX.txt</code> where <code>X</code> is the number of lines.</p>
<p>You can find theses files at :</p>
<ul>
<li>cmd5.txt : <a href="http://pa.axel-chemin.fr/class/cmd5.txt">basic</a></li>
<li>cmd50.txt : <a href="http://pa.axel-chemin.fr/class/cmd50.txt">comparative</a></li>
<li>cmd200.txt : <a href="http://pa.axel-chemin.fr/class/cmd200.txt">perfomance tests</a></li>
</ul>
<h2 id="produce-your-data">Produce your data</h2>
<p>Assuming that your program works fine, you can do these steps only in command line :</p>
<pre><code>cd myRepo
wget http:<span class="hljs-comment">//pa.axel-chemin.fr/class/cmd50.txt</span>
bin/myProgram<span class="hljs-selector-class">.out</span> DataFolderFromJDequidt &lt; cmd50<span class="hljs-selector-class">.txt</span> &gt; data_ans.txt
</code></pre><p>In order to have a clean data file, you should pay attention what you print, don't use "debug printing" and use the comma ',' (like csv) as separator between values</p>
<h2 id="publish-your-answers">Publish your answers</h2>
<p>Now, because data_ans.txt is in csv format, you can just copy the content and paste it on the gdoc <a href="./gd/">here</a></p>
<p>As we chose, the ready to use, Gdoc, it is more convenience to use the <code>cmd50.txt</code></p>
